@font-face{
    font-family: Roboto;
    src: url("/fonts/Roboto.ttf");
}

@font-face{
font-family: RobotoRegular;
src: url("/fonts/Roboto-Regular.ttf");
}

@font-face{
    font-family: RobotoBold;
    src: url("/fonts/Roboto-Bold.ttf");
}